<h3><%= I18n.t('title', {scope: 'devise.two_factor.token_secret'}) %></h3>
<p><%= I18n.t('explain', {scope: 'devise.two_factor.token_secret'}) %></p>

<%= otp_authenticator_token_image(resource) %>

<p><strong><%= I18n.t('manual_provisioning', {scope: 'devise.two_factor.token_secret'}) %>:</strong>
  <code><%= resource.otp_auth_secret %></code></p>

<p><%= link_to I18n.t('reset_otp', {scope: 'devise.two_factor.token_secret'}), @resource, method: :delete %></p>
<p><%= I18n.t('reset_explain', {scope: 'devise.two_factor.token_secret'}) %>
   <strong><%= I18n.t('reset_explain_warn', {scope: 'devise.two_factor.token_secret'}) %></strong></p>

<%- if recovery_enabled? %>
  <h3><%= I18n.t('title', {scope: 'devise.two_factor.tokens.recovery'}) %></h3>
  <p><%= I18n.t('explain', {scope: 'devise.two_factor.tokens.recovery'}) %></p>
  <p><%= link_to I18n.t('codes_list', {scope: 'devise.two_factor.tokens.recovery'}), recovery_token_for(resource_name) %></p>
  <p><%= link_to I18n.t('download_codes', {scope: 'devise.two_factor.tokens.recovery'}), recovery_token_for(resource_name, format: :text) %></p>

<% end %>
